<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ActiveShell" />
                <binding name="PassiveShell" />
                <binding name="ActiveShell1" />
                <binding name="PassiveShell1" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="duplexendpoint">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/ShellTrasferServer/ActiveShell"
                binding="basicHttpBinding" bindingConfiguration="ActiveShell"
                contract="ServiceReference1.IActiveShell" name="ActiveShell" />
            <endpoint address="http://localhost:8000/ShellTrasferServer/PassiveShell"
                binding="basicHttpBinding" bindingConfiguration="PassiveShell"
                contract="ServiceReference1.IPassiveShell" name="PassiveShell" />
            <endpoint address="http://localhost/ShellTrasferServer/ActiveShell"
                binding="basicHttpBinding" bindingConfiguration="ActiveShell1"
                contract="ServiceReference1.IActiveShell" name="ActiveShell1" />
            <endpoint address="http://localhost/ShellTrasferServer/PassiveShell"
                binding="basicHttpBinding" bindingConfiguration="PassiveShell1"
                contract="ServiceReference1.IPassiveShell" name="PassiveShell1" />
            <endpoint address="net.tcp://localhost/ShellTrasferServer/CallBack"
                binding="netTcpBinding" bindingConfiguration="duplexendpoint"
                contract="ServiceReference1.IAletCallBack" name="duplexendpoint" />
        </client>
    </system.serviceModel>
</configuration>